<div class="link" *ngIf="chatId">
  <input hidden type="text" value="{{siteUrl}}/chat/{{chatId}}" #userinput>
  <button mat-flat-button color="primary" (click)="copyInputMessage(userinput)" value="Skopiuj link do dołączenia" >Copy link</button>
</div>

<div class="container" *ngIf="chat$ | async as chat">

  <div class="messages">
    <div class="message" *ngFor="let msg of chat.messages">
      <b> {{ msg.user?.email }} </b>
      <i>{{ msg.createdAt | date}}</i>
      <p>{{ msg.message }}</p>

    </div>

  </div>


  <div class="form">

    <mat-form-field>
      <mat-label>Wiadomosc</mat-label>
      <input matInput #message [(ngModel)]="newMessage" maxlength="30" (keydown.enter)="submit(chat.id)">
      <mat-hint align="end">{{message.value.length}} / 30</mat-hint>
    </mat-form-field>

    <button mat-flat-button color="accent" (click)="submit(chat.id)" class="button is-info" [disabled]="!newMessage">Send</button>
  </div>
</div>
