<form [formGroup]="loginForm" (ngSubmit)="login()">

  <mat-form-field appearance="fill">

    <mat-label>Adres email</mat-label>
    <input matInput
           formControlName="email"
           placeholder="jacek@example.com"
           required>

    <mat-error *ngIf="loginForm.get('email').errors?.required"> Nie wpisano adresu email !</mat-error>
    <mat-error *ngIf="loginForm.get('email').errors?.email"> Nie wpisano poprawnego adres email !</mat-error>

  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Haslo</mat-label>
    <input matInput
           [type]="passwordHide ? 'password' : 'text'"
           formControlName="password"
           required>

    <button mat-icon-button matSuffix
            (click)="passwordHide = !passwordHide"
            [attr.aria-label]="'Ukryj hasło'"
            [attr.aria-pressed]="passwordHide">
      <mat-icon> {{ passwordHide ? 'visibility_off' : 'visibility' }} </mat-icon>
    </button>

    <mat-error *ngIf="loginForm.get('password').errors?.required"> Wprowadz haslo !</mat-error>

  </mat-form-field>

  <button mat-flat-button color="primary" type="submit"> Zaloguj</button>

  <mat-error *ngIf="authErrors"> {{ authErrors.message }} </mat-error>

</form>
