
<ng-template #sign>
  <mat-card class="login-form">
    <mat-tab-group mat-stretch-tabs>

      <mat-tab label="Logowanie">
        <app-signin></app-signin>
      </mat-tab>
      <mat-tab label="Rejestracja">
        <app-signup></app-signup>
      </mat-tab>

    </mat-tab-group>
  </mat-card>
</ng-template>

<pre>
{{ auth.user$ | async | json }}
</pre>
<div *ngIf="auth.user$ | async as user; else sign">
  <pre>
    {{ user | json }}
  </pre>

  <ul>
    <li *ngFor="let chat of userChats$ | async">
      <a [routerLink]="'chats/' + chat.id">{{ chat.id }} - {{ chat.messages.length }} Messages </a>
    </li>
  </ul>

  <button mat-flat-button color="primary" (click)="auth.signOut()">Log out</button>
  <button mat-flat-button color="accent" (click)="chatService.create()">new chat</button>
</div>

